body{
    background-image: url("../images/startingPageBackground.png");
    font-family: Helvetica, sans-serif;
}

.title{
    
    text-align: center;
    color: white;
    font-size: 8rem;
    margin-top: 6rem;
}

.container{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}

.option{
    width: 50%;
}

.optionTitle{
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.optionDescription{
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 3rem;
}

.boton{
    font-size: 21px;
    border: 2px solid transparent;
    text-align: center;
    background: #ffffff;
    color: #0c2e8b;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 4px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}
.nav-bar{
    border: 2px solid;
    border-radius: 15px;
    width: 100%;
    height: 100px;
    position: sticky;
    /* background-color: #0c2e8b; */
    background-color: azure;
}
.container{
    height: 600px;
    width: 1525px;
}
.left-aside{
float: left;
width: 30%;
height: 100%;
}
.right-aside{
    position: relative;
float: right;
width: 50%;
height: 100%;
}
.questions{
    position: relative;
    left: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    border: solid 5px black;
    height: 70%;

}
.logo{
    color: #ffffff;
}
.stick{
    position: relative;
    top: 200px;
    left: 100px;
    border: solid 2px black;
    background-color: yellow;
    width: 150px;
    height: 150px;
    border-radius: 15px;
}
.subject{
    position: relative;
    border: solid 2px black;
    height: 90%;
    width: 200px;
    left: 100px;
    border-radius: 15px;
}
img{
    float: left;
    position: relative;
    left: 25%;
    max-width: 100px;
    max-height: 100px;
}
.sub-menu{
    float: right;
    color: black;
}